In [3]:
import pymongo
from pymongo.mongo_client import MongoClient

In [26]:
url = "mongodb+srv://alex:alechristopher@cluster0.9dvwtap.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(url)

try:
    ping_test = client.admin.command("ping")
    print(ping_test)
    print("Pinged your database successfully")
except Exception as e:
    print(e)

bad auth : authentication failed, full error: {'ok': 0, 'errmsg': 'bad auth : authentication failed', 'code': 8000, 'codeName': 'AtlasError'}

In [7]:
database = client["testing_database"]

In [8]:
collection = database["employee details"]

data_to_insert = {"id" : 2282508,
                  "name" : "Alex"}
try:
    insert_result = collection.insert_one(data_to_insert)
    print("Data inserted to the database")
except Exception as e:
    print(e)

Data inserted to the database

In [12]:
query_results = collection.find()
for doc in query_results:
    print(doc)

{'_id': ObjectId('65b404dcd4eb51177f8fdea9'), 'id': 2282508, 'name': 'Alex'}

In [13]:
non_it_employee = database["non_it"]

non_it_data = {"id" : 58478,
               "Name" : "Christopher"}

try:
    non_it_employee.insert_one(non_it_data)
    print("Non it data inserted")

except Exception as e:
    print(e)

Non it data inserted

In [19]:
company_database = client["CTS"]

non_it_employee = company_database["non_it"]

non_it_data = [{"id" : 58478, "Name" : "Christopher"},
                {"id" : 8755, "Name" : "ASD"}
]
try:
    non_it_employee.insert_many(non_it_data)
    print("Non it data inserted")

except Exception as e:
    print(e)

Non it data inserted

In [18]:
non_it_employee.delete_one({"id" : 58478})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000124'), 'opTime': {'ts': Timestamp(1706297599, 14), 't': 292}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1706297599, 14), 'signature': {'hash': b'\x1b\xfd]\xa6\xc2D\x17\xa6*\x9fJ\xd5\x10\xfa\xe1x5\x84\xa8\x9e', 'keyId': 7294671579076624386}}, 'operationTime': Timestamp(1706297599, 14)}, acknowledged=True)

In [24]:
for docs in non_it_employee.find():
    print(docs)

{'_id': ObjectId('65b4098ed4eb51177f8fdead'), 'id': 58478, 'Name': 'Christopher'}
{'_id': ObjectId('65b4098ed4eb51177f8fdeae'), 'id': 8755, 'Name': 'ASD'}

In [16]:
try:
    company_database.client.drop_database("CTS")
    print("Database dropped")
except Exception as e:
    print(e)

user is not allowed to do action [dropDatabase] on [CTS.], full error: {'ok': 0, 'errmsg': 'user is not allowed to do action [dropDatabase] on [CTS.]', 'code': 8000, 'codeName': 'AtlasError'}